// Variables essentielles
$primary-color: #3467eb
$secondary-color: #f4f8fc
$text-color: #444
$box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1)

//couleurs carré
$background-color: #9ff4ff // Couleur de fond
$border-color: #00796b     // Couleur de la bordure
$border-radius: 8%         // Rayon des coins
