#myCarousel
  .carousel-item
    position: relative
    height: 300px //hauteur image
    margin-top: 3%
    .carousel-image
      position: absolute
      width: 100%
      height: 100%
      background-image: url('../../../public/css/img/testi.jpg') // Référencez votre image ici
      background-size: cover
      background-position: center
      z-index: -1 // L'image en fond doit être derrière le contenu du carrousel

    .carousel-filtre
      position: absolute
      left: 50%
      top: 0
      color: black
      background: rgba(0, 0, 0, 0.8)
      width: 100%
      height: 100%

  // Navigation du carrousel
  .carousel-control-prev, .carousel-control-next
    filter: invert-color(1) // Changer la couleur des icônes de nav
    margin-top: 5%
