//Toute la nav bar du haut
.nav-link
  color: #000
  &:hover
    color: #007bff // Couleur bleue au survol des boutons

.navbar-brand
  font-size: 25px //taille du titre (logo)
  margin-left: 15.5%
  margin-bottom: 0.5%
  .titre-gras
    font-weight: bold //mettre la typo en gras
  .point
    color: #007bff
    font-size: 35px //taille du point
.navbar-nav
  margin-left: 32%   // Pousse le contenu vers la droite
  display: flex
  font-size: 13px
